html, body {
    margin: 0;
    padding: 0;
}

body{
    margin-top: 100px;
    background-color: #301934, rgb(48, 25, 52);
    font-family: 'Comic Sans MS', 'Times New Roman';
    color: #eee;
    z-index: 1;
}


canvas{
    border: 0;
    position: fixed;
    z-index: -2;
}

