body{
    margin: 0;
    background-color: #301934;
    font-family: 'Comic Sans MS';
    font-family: 'Times New Roman';
    color: #eee;
    z-index: 1;
}


canvas{
    border: 0;
    position: fixed;
    z-index: -2;
}

hr {
  border: none;
}
